@import "../../styles/abstracts/colors";
@import "../../styles/abstracts/break-point";

.simple-grid-layout {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 2.4rem;
}

.main-padding {
  min-height: 100vh;

  @media screen and (min-width: $bp-medium) {
    padding: 2.4rem;
  }

  @media screen and (min-width: $bg-largest) {
    padding: 9.4rem 16.5rem;
  }
}

.new-dashboard {
  @media screen and (min-width: $bp-medium) {
    display: grid;
    grid-auto-rows: min-content;
    gap: 2.4rem
  }

  @media screen and (min-width: $bg-largest) {
    padding: 9.4rem 16.5rem;
    grid-template-columns: 35.5rem 1fr;
  }
}

.main {
  @extend .simple-grid-layout;

  &__banner {
    background-color: $color-black-default;
    height: 7.2rem;
  }

  &__jobs {
    @extend .simple-grid-layout;
    padding: 0 2.4rem;
    padding-bottom: 4rem;

    height: 76vh;
    overflow-y: scroll;

    @media screen and (min-width: $bp-medium) {
      padding: 0;
    }
  }

  &__job {
    background-color: $color-white-default;
    height: 15.1rem;
    box-shadow: 0 0 .3rem #e2e5f7;
  }
}