@import "../../styles/abstracts/colors";
@import "../../styles/abstracts/break-point";

.simple-grid-layout {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 2.4rem;
}

.main-padding {
  @media screen and (min-width: $bp-medium) {
    padding: 4rem 16.4rem;
    min-height: 100vh;
    background-color: $default-white-bg;
  }

}

.new-dashboard {
  @media screen and (min-width: $bp-medium) {
    display: grid;
    grid-template-columns: 25.5rem 1fr;
    column-gap: 3rem
  }
}

.main {
  @extend .simple-grid-layout;

  &__banner {
    background-color: $color-black-default;
    height: 7.2rem;
  }

  &__jobs {
    @extend .simple-grid-layout;

    height: 75vh;
    overflow-y: scroll;
  }

  &__job {
    background-color: $color-white-default;
    height: 15.1rem;
  }
}