@import "../../../styles/abstracts/colors";

.dropdown {
  background-color: $color-black-blue;
  color: #fff;
  font-weight: 400;
  position: relative;

  &__trigger {
    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
      stroke: #fff;
    }

    span {
      font-weight: 700;
      text-transform: capitalize;
    }

    &--grey {
      color: #d2d4e1;
    }

    &:hover {
      cursor: pointer;
    }
  }
}