// Color
$color-primary: #297944;
$color-primary-light:#2bf208;
$color-primary-dark: #020207;

$color-secondary-light-a: #ffb900;
$color-secondary-light-b: #ab7e02;
$color-primary-bright-a: #fc7237;
$color-primary-bright-b: #c70000;
$color-secondary-dark: #050610;

$color-tertiary-light-a: #0a89eb;
$color-tertiary-light-b: #3310b0;
$color-tertiary-dark-b: #1f3c88;
$color-tertiary-dark: #292b41;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-white: #ffffff;
$color-black: #000;

$color-grey-dark: #777777;
$color-grey-dark-2: #b5b5b5;
$color-grey-dark-3: #333;

// Font
$default-font-size: 1.6rem;

// grid 
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
