@import '../../../styles/main.scss';

.job {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    font-size: 1.6rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    text-transform: uppercase;

    &:nth-child(odd) {
        background-color: #111426;
    }

    &:nth-child(even) {
        background-color: #11151D;
    }

    &:not( :last-of-type ) {
        margin-bottom: 1rem;
    }

    & > :nth-child( 3 ) {

        @include respond ( phone ) {
            display: none;
        }
    }

    @include respond ( phone ) {
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 1.5rem;
    }
}
