@import '../../styles/main.scss';

.landing {
    min-height: 100vh;
    background-color: #e9ecef;
    color: #626363;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;

    &__cta {
        min-height: 16rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    &__heading {
        font-size: 4.5rem;
        font-weight: 300;
    }

    &__text {
        font-size: 1.5rem; 
    }

    &__links {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 20rem;
        height: 20rem;
        padding: 2rem;
    }

    &__item {
        width: 100%;
    }
    
    &__link {
        color: #e6ebeb;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
} 
