@import "../../../styles/abstracts/colors";

.aside__footer {
  display: grid;
  grid-auto-rows: min-content;
  gap: 1.5rem;


  &__items {
    list-style: none;
    font-size: 1.6rem;
    color: #647196;
    line-height: 2.7rem;
  }

  &__item {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
    gap: .8rem;

    a {
      font-size: 1.2rem;
      justify-self: flex-end;
      font-weight: bold;
      text-decoration: none;
      color: $color-blue-dark;
      transition: all .5s linear;

      &:hover {
        text-decoration: underline;
      }
    }

    svg {
      justify-self: flex-end;
      width: 3rem;
      height: 2rem;
      transition: all .3s linear;
      fill: $color-blue-dark;

      &:hover {
        cursor: pointer;
        background-color: $color-white-blue;
        border-radius: .4rem;
      }
    }
  }
}