@import "../../../styles/main.scss";

.dashboard__main__header {
    padding: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $color-grey-dark-2;
    color: $color-grey-dark-2;
    margin-bottom: 1.6rem;

    &__title {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    @include respond( phone ) {
        padding: 1.8rem;
        margin: 0 3rem 2.5rem 3rem;
    }
}
