.aside__main {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  gap: 1.5rem;

  &__title {
    text-transform: capitalize;
    grid-column: 1 / -1;
  }
}