@import '../../styles/main.scss';

.table {
    font-size: .5rem;
    // padding: .6rem;
    background-color: $color-secondary-dark;
    color: $color-grey-dark-2;

    &__header {
        color: $color-grey-dark-2 !important;
    }

    &__body,
    &__body a:visited,
    &__body a:link {
        color: $color-grey-dark-2 !important;
    }
} 
