@import '../../styles/main.scss';

.table {
    font-size: .5rem;
    background-color: $color-secondary-dark;
    color: $color-grey-dark-2;
    transition: all .5s linear;
    border-radius: 1.5rem;
    padding: 1.5rem;

    &__header {
        color: $color-grey-dark-2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        font-size: 1.7rem;
        padding: 1.7rem;
    }

    &__body {
        color: $color-grey-dark-2;
        overflow: scroll;
        height: 45rem;
    }

    &__body a {
        color: $color-grey-dark-2;
    }

    &__body a:hover {
        color: $color-grey-dark-1;
    }
} 
