.basic-input {
  width: 100%;
  padding: 1rem;
  appearance: none;
  border: none;
  border-radius: .8rem;
  background-color: #f9f9f9;
  font-family: inherit;
  font-size: 1.3rem;
}

.share-form {
  width: 100%;
  padding: 2.5rem;

  background-color: #fff;
  border-radius: .8rem;
  color: #3a4373;

  display: grid;

  grid-auto-rows: min-content;
  position: relative;

  row-gap: 2.4rem;

  &__icon {
    width: 4rem;
    position: absolute;
    left: 2.4rem;
    transform: translateY(-50%);
  }

  &__input {
    @extend .basic-input;
    border: 1px solid transparent;

    &--error {
      border: 1px solid #d73737;
    }
  }

  select {
    @extend .basic-input;
  }

  &__textarea {
    @extend .basic-input;
    resize: none;

    &::placeholder {
      text-indent: 1rem;
    }

    &--error {
      border: 1px solid #d73737;
    }
  }

  &__row {
    display: grid;
    grid-auto-rows: max-content;
    align-items: center;
    row-gap: .5rem;
  }

  &__label {
    font-size: 1.3rem;
    font-weight: 700;
  }

  &__input-description {
    color: #9ea5b7;
    font-size: 1.3rem;
    font-size: 400;
  }

  &__error {
    color: #d73737;
  }
}