@import "../../../styles/main.scss";

.sidebar {
    background-color: $color-secondary-dark;
    color: $color-grey-dark-2;
    text-transform: uppercase;
    flex: 0 0 18%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @media ( max-width: 75rem ) {
        max-width: 7rem !important;
    }

    &__header {
        padding: 1rem;

        h2 {
            text-align: center;

            @include respond ( tab-port ) {
                font-size: 1.2rem;
            }
        }
    }

    &__nav__item:not(:last-of-type) {
        margin-bottom: 10px;
    } 

    &__nav__item {
        width: 100%;
        height: 3rem;
        padding: 5px;
        display: flex;
        color: $color-grey-dark-2;
        justify-content: center;
        align-items: center;
        font-size: 1.7rem;

        &:hover {
            color: $color-grey-dark-1;
            text-decoration: none;
        }
    }

    &__nav__item--active {
        background-image: linear-gradient( 45deg, $color-tertiary-light-b 35%, $color-tertiary-light-a );
    }

    &__nav__text {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 130px;

        @media ( max-width: 75rem ) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__nav__text span {
        align-self: center;
        font-size: 1.5rem;

        @media ( max-width: 75rem ) {
            display: none;
        }
    }

    &__nav__icon {
        align-self: center;
        justify-self: center;
        font-size: 1.8rem;
    }

}
