@import "../../../styles/main.scss";

.sidebar {
    background-color: $color-secondary-dark !important;
    color: $color-grey-dark-2;
    text-transform: uppercase;
 

    &__header {
        font-size: 1.5rem;

        @media (min-width: 80rem ) {
            font-size: 1.3rem;
        }
    }

    &__nav__item {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__nav__icon {
        padding: 0 0 0 3.4rem;
        align-self: center;
        justify-self: center;
        font-size: 1.3rem;
    }

    &__nav__text {
        margin: 0;
        font-size: 1.2rem;
        justify-self: start;
    }

    // &__menu {
    //     width: 100%;
    //     font-size: 18px;
    //     display: flex;
    //     flex-direction: column;
       

    //     &--item {
    //         width: 100%;
    //         height: 1.5rem;
    //         padding: 1.5rem;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         border-right: 2px solid transparent;

    //         &:focus,
    //         &:hover {
    //             background-color: $color-primary-dark;
    //         }
    //     }

    //     &--link {
    //         width: 100px;
    //         display: grid;
    //         grid-template-columns: 35% auto;
           
    //     }

    //     &--link a {
            
    //         &:link,
    //         &:visited {
    //             color: $color-grey-dark-2;
    //             text-decoration: none;
    //             cursor: pointer;
    //         }
    //     }
    // }

    // @media (max-width: 375px ) {
    //     display: none;
    // }
}

// .fa, .fas {
//     align-self: center;
// }