@import "../../styles/abstracts/colors";
@import "../../styles/abstracts/break-point";

.aside {
  position: relative;

  @media screen and (min-width: $bp-medium) {
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 2.4rem;
  }

  &__main,
  &__footer {
    justify-self: end;
    min-height: 17.8rem;
    width: 22.3rem;
    background-color: $color-white-default;
    border-radius: $default-border-radius;

    @media screen and (min-width: $bp-medium) {
      width: 100%;
    }
  }
}