@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');
@import "../abstracts/break-point";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this defines what 1rem is
  font-size: 37.5%; // 1rem = 6px
  box-sizing: border-box;

  @media screen and (min-width: $bp-medium) {
    font-size: 62.5%; // 1rem = 10px
  }
}

body {
  min-height: 100vh;
  background-color: $default-white-bg;
  font-family: $default-font-family;
  color: $color-black-blue;
  box-sizing: border-box;
}

ul {
  list-style: none;
}