@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this defines what 1rem is
  font-size: 37.5%; // 1rem = 6px
  box-sizing: border-box;

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }
}

body {
  font-family: $default-font-family;
  color: $color-black-blue;
  box-sizing: border-box;
  min-height: 100vh;
}

ul {
  list-style: none;
}